*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans',
        sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1088px;
    margin: 0 auto;
}

/* #region buttons */

.btn-red {
    background: red;
    color: white;
    padding: 22px 55px;
    border-radius: 40px;
    text-transform: uppercase;
}

.btn-white {
    background: white;
    color: red;
    padding: 22px 55px;
    border-radius: 40px;
    text-transform: uppercase;
}

/* #endregion */


.content-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/Image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.top-nav {
    width: 100%;
    height: 95px;
    background: #00000066;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.top-nav .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.top-nav__header {
    display: flex;
    align-items: center;
}

.top-nav__logo {
    width: 31px;
    height: 35px;
    background: url('../images/Icon\ Logo\ Normal.svg');
    background-size: contain;
}

.top-nav__title {
    font-size: 35px;
    text-transform: uppercase;
    margin-left: 5px;
    font-weight: 800;
    color: white;
}

.top-nav__title span {
    color: #FF0000;
}

.top-nav__list {
    display: flex;
    text-transform: uppercase;
}

.top-nav__element {
    width: 128px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 35px;
    transition: background 0.3s ease-in-out;
}

.top-nav__element:hover {
    background: #FFFFFF33;
    cursor: pointer;
}

.top-nav__link {
    color: white;
    font-weight: bold;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: white;
}

.top-content__title {
    z-index: 5;
    font-size: 90px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.top-content__text {
    z-index: 5;
}

.top-content__btns {
    margin-top: 70px;
    z-index: 5;
}

.top-content__btns .btn-red {
    margin-right: 10px;
}

.top-content__btns .btn-white {
    margin-left: 10px;
}

.header__arrow {
    position: absolute;
    bottom: -25px;
    left: 50%;
    height: 55px;
    width: 55px;
    background: red;
    border-radius: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region blog */

.blog__content {
    padding-top:95px;
    padding-bottom: 100px;
}

.blog__title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.blog__title::after,
.blog__title::before {
    content: "";
    width: 50px;
    height: 5px;
    background: red;
    display: inline-block;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog__cards {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.blog__card {
    width: 350px;
}
.blog__card-image{
    width: 100%;
}

.blog__card-title{
    color: #6A6A6A;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
}
.blog__card-text{
    font-size:14px;
    font-weight:300;
    color: #6A6A6A;
    padding-bottom: 40px;
    padding-right: 30px;
}

.blog__card-btn{
    text-align:center;
    text-transform: uppercase;
    font-size:14px;
    font-weight:bold;
    padding: 10px 30px;
    background-color:red;
    color:white;
    border-radius: 20px;
}

/* #endregion */

/* #region services */

.service{
    background:#28272C;
}
.service__content{
    padding-top: 60px;
    padding-bottom:100px;
}

.service__title{
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
}

.service__title::after,
.service__title::before {
    content: "";
    width: 50px;
    height: 5px;
    background: red;
    display: inline-block;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service__cards{
    padding-top: 75px;
    display:flex;
    justify-content:space-between;
}

.service__card{
    width: 235px;
    text-align: center;
}

.service__card-image{
    width: 170px;
    height:170px;
}

.service__card-title{
    font-size: 19px;
    font-weight: 400;
    color:white;
    padding:10px 0;
    text-transform: uppercase;
}

.service__card-text{
    font-size: 14px;
    font-weight: 400;
    color:#B2B2B2;
    padding-bottom: 25px;
}

.service__card-btn{
    text-align:center;
    text-transform: uppercase;
    font-size:14px;
    font-weight:bold;
    padding: 10px 30px;
    background-color:red;
    color:white;
    border-radius: 20px;
}


/* #endregion */


/* #region contact */

.contact__content{
    padding-top: 65px;
    padding-bottom: 65px;
}

.content__title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.content__title::after,
.content__title::before {
    content: "";
    width: 50px;
    height: 5px;
    background: red;
    display: inline-block;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact__form{
    padding-top: 35px;
    display: grid;
    gap:15px;
    grid-template-columns:repeat(2,1fr);
}

.contact__form img{
    width: 100%;
}

.contact__form input[type=text] {
    display:block;
    padding:12px 8px;
    width: 100%;
    border:1px solid #D1D1D1;
    border-radius: 10px; 
    font-size:16px;
}
.contact__form input[type=text]::placeholder{
   color:#B2B2B2;
}
.contact__form input[type=text]:nth-of-type(2){
    margin: 20px 0;
}

.contact__form textarea{
    display: block;
    font-size:16px;
    width: 100%;
    height: 140px;
    border:1px solid #D1D1D1;
    border-radius: 10px;
    padding:12px 8px;
    resize: none;
}
.contact__form textarea::placeholder{
   color:#B2B2B2;
   font-size:16px;
    font-family: 'Open Sans',
    sans-serif;
}

.contact__form input[type=text]:focus,
.contact__form textarea:focus{
    outline: none;
    border-color:red;
}

.contact__accept{
    padding: 20px 0;
}

.contact__form input[type=radio]{
    float: left;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    -webkit-appearance: none;
}

.contact__form input[type=radio]:checked{
    background:url("../images/Icon\ Check.svg") no-repeat center center;

}

.contact__form p{
    display:inline-block;
    padding-left:10px;
    width: 90%;
    font-size:10px;
    color:#B2B2B2;
    font-weight: 300;
}

.contact__form button[type=submit]{
    float: right;
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
    padding: 11px 52px;
    border: 1px solid red;
    color:red;
    background-color:white;
    border-radius: 25px;
}
.contact__form button[type=submit]:hover{
    cursor: pointer;
}
/* #endregion */